[Desktop Entry]
Version=1.0
Name=YourView
Comment=YourView - image viewer
Exec=/opt/YourView/YourView
Icon=/opt/YourView/YourView.png
Terminal=false
Type=Application
Categories=Utility;Development;
